.hidden {
  display: none !important;
}

.row {
  display: flex;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.column-full {
  width: 100%;
}

.column-half {
  width: calc(100% / 2);
}

.column-one-fourth {
  width: calc(100% / 4);
}

.column-one-third {
  width: calc(100% /3);
}

.pink-background {
  background: rgba(200, 187, 190, 0.707);
  background-size: cover;
  min-height: 100vh;
}

.pink-background-nav-bar {
  background: rgba(200, 187, 190, 0.707);
  background-size: cover;
  min-height: 10vh;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 1200px;
  }

  .img-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("/images/ajax-background.png");
  }

  .row {
    flex-direction: column;
  }

  .column-half {
    width: 210%;
  }

  .navigation {
    display: flex;
  }

  .column-one-third {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding: 10px;
    width: 600px !important;
  }

  p {
    font-size: 22px;
  }

  .card-home-box {
    height: 550px !important;
    width: 700px !important;
  }

  .card-info-box {
    height: 500px !important;
    width: 600px !important;
  }

  #card-label-result {
    font-size: 30px;
  }

  .search-bar {
    height: 55px !important;
    width: 500px !important;
    border-radius: 30px !important;
  }

  .search-item {
    font-size: 33px;
  }

  .fa-heart {
    font-size: 35px;
  }

  .search-btn {
    height: 55px !important;
    width: 80px !important;
    border-radius: 40px !important;
  }

  .divider-line {
    display: none !important;
  }

  .img-dragon {
    width: 170%;
    height: 90%;
    position: absolute;
    left: 3rem;
    bottom: -46rem;
  }

  .movie-title-image {
    margin-right: 40px;
  }

  .column-full {
    width: 200%;
  }

  .lds-spinner {
    text-align: center;
  }

  .search-info {
    font-size: 30px;
  }

  #search-result-title {
    flex-direction: row;
  }

  .search-item,
  .likes-details {
    margin-left: 60px;
    margin-top: 10px;
  }

  .likes-data {
    font-size: 33px;
  }

  .likes-details {
    font-size: 30px;
  }

  .likes-list-page-heading {
    font-size: 30px;
  }

  .modal-survey {
    width: 400px;
    position: absolute;
    top: 20%;
  }

  .modal-button-container {
    display: flex;
  }
}
