.hidden {
  display: none !important;
}

.row {
  display: flex;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

/* COLUMN SIZING */
.column-full {
  width: 100%;
}

.column-half {
  width: calc(100% / 2);
}

.column-one-fourth {
  width: calc(100% / 4);
}

.column-one-third {
  width: calc(100% /3);
}

.pink-background {
  background: rgba(200, 187, 190, 0.707);
  background-size: cover;
  min-height: 90vh;
}

.pink-background-nav-bar {
  background: rgba(200, 187, 190, 0.707);
  background-size: cover;
  min-height: 10vh;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

/* .space-between {
  justify-content: space-between;
} */

/* MEDIA SCREEN */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    max-width: 1200px;
  }

  .img-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("/images/ajax-background.png");
  }

  .row {
    flex-direction: column;
  }

  .column-half {
    width: 210%;
  }

  .navigation-bar-items-mobile {
    text-align: center;
  }

  .divider-line {
    display: none !important;
  }

  .img-dragon {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 10rem;
    bottom: -30rem;
  }

  .search-row {
    border: 3px solid red;
  }

  .movie-title-image {
    margin-right: 40px;
  }
}
