.red-line {
  border: 2px solid red;
}

.blue-line {
  border: 2px solid blue;
}

.green-line {
  border: 2px solid green;
}

/* NAVIGATION BAR */
a {
  text-decoration: none;
}

/* IMAGES */
.img-background {
  background-image: url("/images/ajax-background.png");
  background-size: cover;
}

.overlay {
  background:
    linear-gradient(
      transparent,
      rgb(199, 186, 189)
    );
}

.img-totoro {
  height: 75px;
  width: 75px;
}

/* FONT */
.font-comfortaa {
  font-family:
    Comfortaa,
    cursive,
    sans-serif;
}

.font-color-wh {
  color: white;
}

.font-color-brown {
  color: #645e57;
}

/* .font-color-wh:hover {
  color: #a89f96;
  cursor: pointer;
} */

/* PSEUDO CLASSES */
.img-dragon:hover {
  transform: translateY(-20px);
  cursor: pointer;
  transition: transform 250ms;
}

.img-totoro:hover {
  cursor: pointer;
  opacity: 0.5;
}

p:hover {
  cursor: pointer;
}

h4:hover {
  cursor: pointer;
}

.nav-bar-menu:hover,
.nav-bar-menu:active {
  letter-spacing: 2px;
  transition: 350ms ease-in-out;
  color: #e4ded7;
}

/* SITE IMAGES */
.img-icon {
  width: 75px;
  height: 75px;
}

.img-icon:hover {
  cursor: pointer;
}

.img-chick {
  height: 200px;
  width: 170px;
}

.img-chick:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: transform 300ms;
}

/* SPACING */
.padding-left-20 {
  padding-left: 20px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-left-5 {
  margin-left: 5px;
}

/* FLEXBOX */
.display-flex {
  display: flex;
}

.align-items-flex-end {
  align-items: flex-end;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-col {
  flex-direction: column;
}

/* DIVIDERS */
.divider-line {
  border-top: 1px solid #e4ded7;
  position: relative;
  width: 100%;
}

/* WHITE CARD INFO */
.card-home-box,
.card-likes-box {
  background-color: white;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
}

.card-info-box,
.movie-title-image {
  background-color: white;
  height: 450px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
}

.card-home-box:hover,
.card-info-box:hover,
.movie-title-image:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* ALIGNMENTS */
.text-align-c {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

/* SEARCH VIEW */
.search-bar {
  border-radius: 15px;
  width: 360px;
  border: none;
  height: 30px;
  background-color: #dfdad5;
  font-family:
    Comfortaa,
    cursive,
    sans-serif;
  padding-left: 20px;
}

.search-bar:active {
  border-color: #78aaba;
}

.search-btn {
  top: 146px;
  border-radius: 15px;
  border: none;
  width: 75px;
  height: 30px;
  background-color: #78aaba;
  font-family:
    Comfortaa,
    cursive,
    sans-serif;

  /* color: #dfdad5; */

  /* transition: background 0.5s ease-in; */

  color: white;
  background-image: linear-gradient(120deg, #edbfe6 0%, #a8dbec 100%);
}

.search-btn:hover {
  cursor: pointer;
  color: white;
  background-color: #a4a9b1;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
}

.search-btn:active {
  transform: translateY(2px);
  cursor: pointer;
  transition: transform 10ms;
}

::placeholder {
  color: #79aaba;
  font-family:
    Comfortaa,
    cursive,
    sans-serif;
}

.search-result-photo {
  width: 400px;
  height: 500px;
  border-radius: 10px;
}

.search-result-photo:hover {
  transform: translateY(-20px);
  cursor: pointer;
  transition: transform 250ms;
}

.pink-heart {
  color: #ddbfc0;
}

/* MODAL */
.modal-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(51 51 51 / 86.3%);
  cursor: pointer;
}

.modal-survey {
  background-color: white;
  margin-top: 15%;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 20px;

  /* padding-top: 20px;
  padding-bottom: 30px; */
  border-radius: 20px;
  padding: 30px;
}

.modal-cancel,
.modal-remove {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-transform: lowercase;
  font-weight: 400;
  color: #fff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  border-radius: 8px;
  border: none;
  font-family:
    Comfortaa,
    cursive,
    sans-serif;
}

.modal-button-container {
  display: flex;
  justify-content: space-around;
}

.modal-cancel {
  background-color: #dfc1df;
}

.modal-remove {
  background-color: #447d8e;
}

.modal-cancel:active,
.modal-remove:active {
  transform: translateY(4px);
  cursor: pointer;
  transition: transform 250ms;
}
